/* Page wide layout */

* {
    margin: 0;
    }

html, body {
	height: 100%;
	width: 800px;
	margin: 0 auto;
    }

#wrapper{
	min-height: 100%;
	height: auto !important;
	margin: 0 auto -100px;
    }

#push {
	height: 100px;
    }

/* Page elements */

header {
	height: 200px;
	background-image: url("../images/banner.jpg");
    }

nav {
	height: 20px;
	width: 800px;
	position: fixed;
	top: 170px;
    }

nav ul {
	list-style: none;
    }

nav ul li {
	width: 80px;
	padding: 5px;
	margin: 1px;
	background-color: rgba(255,255,255,0.25);
    color: black;
	border-radius: 5px;
	float: left;
	text-align: center;
    }

nav ul li:hover {
	width: 80px;
	padding: 5px;
	margin: 1px;
	background-color: rgba(255,255,255,0.5);
    color: black;
	border-radius: 5px;
	float: left;
	text-align: center;
    }

nav ul li a:link {                                      /* unvisited navigation link */
    color:#000000;
    text-decoration: none;
    }      

nav ul li a:visited {                                   /* visited navigation link */
    color:#000000;
    text-decoration: none;
    }  
    
nav ul li a:hover {                                     /* mouse over navigation link */
    color:#000000;
    text-decoration: none;
    }  
    
nav ul li a:active {                                    /* selected navigation link */
    color:#000000;
    text-decoration: none;
    }  

article {
	height: 100%;
    }

footer {
	height: 100px;
    background-color: #888888;
    }

